<footer>
        <h2>Footer</h2>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas iure accusantium quam reiciendis ad, voluptate praesentium obcaecati. Veritatis, ab quod. Hic fuga sint nam. Eveniet, accusamus enim rem eaque quo voluptate corrupti possimus libero, magni, alias praesentium eos aut incidunt distinctio? Odio ut adipisci omnis enim suscipit fuga ipsa facere laudantium possimus nam earum nihil, vel aliquid expedita error neque quam rerum facilis delectus molestias accusamus necessitatibus. Recusandae ducimus animi vel expedita non fugiat facere fugit esse doloribus? Qui minus esse assumenda, ratione temporibus perferendis modi vero neque dignissimos quasi illo, praesentium voluptas explicabo ipsum quaerat nulla debitis vel! Voluptate.
        </p>
    </footer>